{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% block title %}Цитатник{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block links %}{% endblock %}
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <ul class="menu">
                <li><a href="#" id="main">Главная</a></li>
                {% if request.user.is_authenticated %}
                    <li><a href="#" id="addQuote">Добавить Цитату</a></li>
                    {% block menu %}{% endblock %}
                    <li><a href="{% url 'accounts:detail' request.user.pk %}">
                        Привет, {{ request.user.get_full_name|default:request.user.username }}
                    </a></li>
                {% endif %}
                {% block auth_menu %}
                    {% if request.user.is_authenticated %}
                        <li><a href="{% url 'accounts:logout' %}?next={{ request.get_full_path }}">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'accounts:login' %}?next={{ request.get_full_path }}">Login</a></li>
                        <li><a href="{% url 'accounts:create' %}?next={{ request.get_full_path }}">Sign Up</a></li>
                    {% endif %}
                {% endblock %}
            </ul>

        </div>
    </nav>
    <div class="container">
    <div class="box" id="get" style="display: none" >
        <h1>Лучшие цитаты нашего двора!</h1>
    </div>
    <div class="box" id="post" style="display: none" >
        <form action="">
        {% csrf_token %}
            <div class="box">
                <label class="input" for="quote">Цитата:</label><br>
                <textarea class="input" name="quote" id="quote" cols="40" rows="3"></textarea><br>
                <label class="input" for="author">Автор:</label><br>
                <input class="input" type="text" id="author" name="author"><br>
                <label class="input" for="email">Email:</label><br>
                <input class="input" type="email" id="email" name="email"><br>
                <input class="input" type="submit">
            </div>
        </form>
    </div>

        {% block content %}{% endblock %}
    </div>
    <script src="{% static "js/main.js" %}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
